<%= form_for [:admin, @survey], method: :put, html: { id: "survey-form" } do |f| %>
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">

      <h2>Вопрос опроса:</h2>
      <%= f.text_field :question, class: "form-input" %>

      <div class="survey-content">
        <div class="options-content">
          <%= f.fields_for :answers do |a| %>
            <div class="option">
              <%= a.hidden_field :id %>
              <%= a.text_field :text, class: "input-option form-input" %>
              <span class="glyphicon glyphicon-remove remove-option"></span>
            </div>
          <% end %>
        </div>
        <div class="survey-content-add-field" title="Добавить вариант ответа">
          <i class="glyphicon glyphicon-plus"></i>
        </div>
      </div>

      <h2 style="">Активный опрос?</h2>
      <%= f.check_box :active, checked: "checked" %>

      <div class="actions text-center">
        <%= f.submit "Сохранить", class: "create-btn" %>
        <%= link_to "Назад", admin_surveys_path, class: "back-btn" %>
      </div>
    </div>
  </div>
<% end %>
