<div id="upload-picture-gallery" class="upload" data-redirect="<%=gallery_album_path(@gallery,@album) %>" data-controller="<%= gallery_album_pictures_path(@gallery,@album) %>">
    <p class="big-text">
        Загрузить фото
    </p>
</div>
<div class="container" id="links">
    <% @album.pictures.all.each do |picture| %>
    <div class="col-sm-4 col-md-2 thumbnail album-item">
        <a href="<%= picture.image_url%>" data-gallery>
            <img src="<%=picture.image_url%>" class="img-responsive">
        </a>
    </div>
    <% end %>
</div>
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Назад
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Вперед
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                    <!-- <a href="<%=gallery_album_path(@gallery,@album)%>" data-confirm="Вы уверены?" data-method="delete" class="btn btn-danger" role="button">Удалить</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
