<div id="upload-video" class="upload">
    <a href="<%= new_gallery_album_video_path(@gallery,@album)%>">
        <p class="big-text">
            Добавить видео
        </p>
    </a>
</div>
<div class="video-container container">
    <div class="gallery-page-header">
        <% if @album.videos.any? %>
        <h1>Видео</h1>
    <% else %>
        <h1>Нет Видео</h1>
        <% end %>
    </div>
    <% @videos.all.each do |video| %>
    <div class="col-md-6">
        <div class="video-item thumbnail">
            <% if can? :manage, Gallery %>
            <div class="video-tools">
                <a href="<%=gallery_album_video_path(@gallery, @album,video)%>" data-confirm="Вы уверены?" data-method="delete" class="btn btn-danger" role="button">Удалить</a>
                <a href="<%=edit_gallery_album_video_path(@gallery, @album, video)%>" class="btn btn-default" role="button">Редактировать</a>
            </div>
            <% end %>
            <iframe src="<%=video.iframe_link%>" frameborder="0" width="100%" frameborder='0' allowfullscreen></iframe>
            <a class="title-link" href="<%=video.youtube_link%>">
                <h4><%= video.title %></h4>
            </a>
            <% if video.type_video == 'interview'%>
            <span class="type-video">
                <p>
                    Видеоинтервью
                </p>
            </span>
            <%else%>
            <span class="type-video">
                <p>
                    Видеомероприятие
                </p>
            </span>
            <%end%>
            <p class="video-description">
                <%= video.description %>
            </p>
        </div>
    </div>
    <% end %>

</div>
