<div class="partner-form-wrapper">
  <%= render 'partner_form' %>
</div>
<div class="shadow"></div>

<div class="admin-content">
  <div class="add-new-item-btn-wrapper text-center">
    <button id="add_partner_btn" class="btn btn-default">
      Добавить партнера
    </button>
  </div>

  <table class="table table-striped text-center">
    <tr>
      <td class="text-center" style="width: 35%;">
        <b>
            Логотип
        </b>
      </td>
      <td style="width: 30%;">
        <b>
            Ссылка
        </b>
      </td>
      <td style="width: 25%;">
        <b>
            Стратегический партнер
        </b>
      </td>
      <td style="width: 10%;">
      </td>
    </tr>

    <% @partners.each do |partner| %>
      <tr>
        <td class="info-cell">
          <img src="<%= partner.image&.url %>">
        </td>

        <td class="info-cell vertical-align-text-middle">
          <%= partner.link %>
        </td>

        <td class="info-cell vertical-align-text-middle">
          <% if partner.main %>
            Да
          <% else %>
            Нет
          <% end %>
        </td>

        <td class="text-center vertical-align-text-middle">
          <%= link_to edit_admin_partner_path(partner), remote: true, class: "btn btn-primary" do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to admin_partner_path(partner), method: :delete, class: "btn btn-danger" do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
