<div class="template-wrapper  container">

	<div class="template-container container clearfix">

		<div class="template-body">
			<div class="description">

				<div class="template-title">
					<h2>
						<%= @topic.text %>
					</h2>
				</div>

				<div class="description-body active-template">
					<%= @topic.description&.html_safe %>
				</div>

			</div>
			<div class="template-aside">
				<a href="<%= topic_path(@parent_topic.smart_id)%>" class="template-root">
					<h4 class="template-title"><%= @parent_topic.text %></h4>
				</a>
				<%= render 'subtopics' %>
			</div>

		</div>

	</div>

</div>
