<div class="template-wrapper  container">

	<div class="template-container container clearfix">

		<div class="template-body">
			<div class="description">

				<div class="template-title">
					<h2>
						<%= @topic.text %>
						<% if can? :manage, Topic %>
						<a class="update-description-topic">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<% end %>
					</h2>
				</div>

				<div class="description-body active-template">
					<%= @topic.description&.html_safe %>
				</div>

				<% if can? :manage, Topic %>
				<div class="description-body hidden-template">
					<%= render 'templates/template_form', template: @topic %>
				</div>
				<% end %>

			</div>
			<div class="template-aside">
				<a href="<%=@parent_topic.link%>" class="template-root">
					<h4 class="template-title"><%= @parent_topic.text %></h4>
				</a>
				<%= render 'subtopics' %>
			</div>

		</div>

	</div>

</div>
