<div class="news-navigation">
	<ul class="news-navigation-list">
		<li class="news-navigation-list-item <%= 'active' if active == 'rspp' %>">
			<a href="<%= news_posts_path(type: :rspp) %>">Новости РСПП</a>
		</li>
		<li class="news-navigation-list-item <%= 'active' if active == 'business' %>">
			<a href="<%= news_posts_path(type: :business) %>">Деловые новости</a>
		</li>
		<li class="news-navigation-list-item <%= 'active' if active == 'mass_media' %>">
			<a href="<%= news_posts_path(type: :mass_media) %>">СМИ о нас</a>
		</li>
	</ul>
</div>
