<div class="shadow"></div>

<div class="container">
  <div class="col-lg-8 col-lg-offset-2">
    <%= form_for [:admin, @slider], html: {class: "add-slider-form"} do |f| %>

      <h2>Введите название слайдера:</h2>
      <%= f.text_field :name, autocomplete: "off",
        placeholder: "Название", required: "true", class: "form-input" %>

      <div class="actions text-center">
        <%= f.submit "Сохранить", class: "create-btn" %>
        <%= link_to "Назад", admin_sliders_path, class: "back-btn" %>
      </div>

      <% @slider.slides.each_with_index do |slide, index| %>

        <%= f.fields_for slide do |slide_form| %>
          <h2>Добавить слайд</h2>
          <div class="form-input add-slide-form">
            <h2>Добавить изображение:</h2>
            <%= slide_form.file_field :image, id: "upload-slide-picture" %>

            <h2>Добавить текст:</h2>
            <%= slide_form.text_field :text, class: "form-input" %>
          </div>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>


