<div class="admin-content">
  <div class="add-new-item-btn-wrapper text-center">
    <%= link_to new_admin_slider_path, class: "btn btn-default" do %>
      Добавить слайдер
    <% end %>
  </div>

<table class="table table-striped text-center" style="font-size: 20px;">
    <tr>
        <td style="width: 5%;">
            <b>
                ID
            </b>
        </td>
        <td style="width: 52%;">
            <b>
                Название
            </b>
        </td>
        <td style="width: 15%;">
            <b>
                Количество слайдов
            </b>
        </td>
        <td style="width: 15%;">
            <b>
                Время создания
            </b>
        </td>
        <td style="width: 13%;">
        </td>
    </tr>

    <% @sliders.each do |slider| %>
        <tr>
            <td>
                <%= slider.id %>
            </td>

            <td>
                <% if slider.name.chars[30] %>
                    <%= slider.name.chars.first(30).join + "..." %>
                <% else %>
                    <%= slider.name %>
                <% end %>
            </td>

            <td>
                <%= slider.slides.count %>
            </td>

            <td>
                <%= l slider.created_at, format: :long %>
            </td>

            <td class="text-right">
                <%= link_to edit_admin_slider_path(slider) do %>
                    <button class="btn btn-success">
                        Редактировать
                    </button>
                <% end %>
                <%= link_to admin_slider_path(slider), method: :delete do %>
                    <button class="btn btn-danger">
                        Удалить
                    </button>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
