<div class="container text-center">
  <h1>
    Обращение
  </h1>
</div>

<div class="container panel panel-default">

  <div class="title">
    <%= @complaint.title %>
  </div>

  <hr>

  <div class="body">
    <%= @complaint.body %>
  </div>

  <hr>

  <div class="user-complaint-info">
    Оставил 
    <b>
      <%= @complaint.user.first_name %>
      <%= @complaint.user.last_name %>
    </b>
    <%= l @complaint.created_at, format: :long %>

  </div>

  <div class="footer">
    <div>
      <%= link_to complaints_path do %>
        <button class="btn btn-primary">
          <span class="glyphicon glyphicon-chevron-left"></span>
          К списку всех обращений
        </button>
      <% end %>
    </div>
    <div>
      <%= link_to root_path do %>
        <button class="btn btn-danger">На главную</button>
      <% end %>
    </div>
  </div>

</div>
