<div class="container-fluid form-page">
	<div id="pdf-page-form" class="form-container">

		<div class="pdf-page-content">
			<div class="form-part " data-position="0">
				<%= render 'join-rspp/common_header' %>
				<%= render 'join-rspp/common_info_1' %>
				<%= render 'join-rspp/navigation' %>
			</div>
			<div class="form-part" data-position="1">
				<%= render 'join-rspp/common_header' %>
				<%= render 'join-rspp/common_info_2' %>
				<%= render 'join-rspp/navigation' %>
			</div>
			<div class="form-part" data-position="2">
				<%= render 'join-rspp/common_header' %>
				<%= render 'join-rspp/table_deals' %>
				<%= render 'join-rspp/navigation' %>
			</div>
			<div class="form-part active" data-position="3">
				<%= render 'join-rspp/common_header' %>
				<%= render 'join-rspp/contact_faces_info' %>
				<%= render 'join-rspp/final_navigation' %>
			</div>

			<!--
			active should be on data-position = 0, but it's here for fast obtaining of page with PDF.
			Don't forget replace when PRODUCTION DEPLOY comes
			-->

			<div class="form-part">
				<%= render 'join-rspp/finish_enter' %>
			</div>
		</div>
	</div>
</div>
