<nav id="main-navbar" class="navbar navbar-default">
    <img id="logo" src="logo.png">
    <ul id="contacts">
        <li class="contact">
            <p class="contact-info">Республиканский Союз
                <br>
                Промышленников и Предпринимателей</p>
            <p class="contact-credits">
                + 375 29 111 11 11,
                <a class="contact-credits-email" href="">rspp@mail.ru</a>
            </p>
        </li>
    </ul>

    <%- if user_signed_in? %>
        <div class="user-info pull-right">
            <p>
                Здравствуйте,
                <%= current_user.first_name %>!
                <div>
                    <img class="user-image" src="user.png">
                </div>
            </p>
            <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
        </div>
    <% else %>

        <div class="join-badge text-center">
            <div class="text">
                <p>Вступить в союз</p>
            </div>
        </div>

        <%= render 'user_actions' %>
        <%= render 'login' %>
        <%= render 'signup' %>

    <% end %>
</nav>