<div class="mass-media-news">

    <h2>
        СМИ о нас
    </h2>

    <hr>
    
    <div class="mass-media-news-container">
        <% @mass_media_news.each do |post| %>
            <div class="mass-media-news-post">
                <% if post.image_url.present? %>
                    <div class="image text-center">
                        <img class="image" src="<%=post.image_url%>">
                    </div>
                    <div class="text">
                        <h4>
                            <%= link_to post.title, news_post_path(post) %>
                        </h4>
                        <p>
                            <%= post.description %>
                            <p><small class="date-block"><%= l post.created_at, format: :short %></small></p>
                        </p>
                    </div>
                <% else %>
                    <div class="full-text">
                        <h4>
                            <%= link_to post.title, news_post_path(post) %>
                        </h4>
                    </div>
                    <p>
                        <%= post.description %>
                        <p><small class="block"><%= l post.created_at, format: :short %></small></p>
                    </p>
                <% end %>
            </div>
            <hr>
        <% end %>
    </div>

</div>