<div class="rspp-news">

    <h2>
        Новости РСПП
				<%= link_to 'Все новости', news_posts_path(type: 'rspp') %>
    </h2>

    <hr>

    <div class="rspp-news-container">

        <% @rspp_news.each do |post| %>

            <div class="rspp-news-post">
                <div class="post-title">
                    <h2>
                        <a href="<%= news_post_path(post) %>"><%= post.title %></a>
                    </h2>
                    <div class="tags">
                        <a class="label label-default"><%= l post.created_at, format: :short %></a>
                    </div>
                </div>
                <hr>
                <p>
                    <%= post.description %>
                </p>
            </div>

        <% end %>

    </div>
</div>
