<%= javascript_tag do %>
<% if user_signed_in? %>
window.currentUserId = '<%= current_user.id %>'
<% end %>
window.surveyContent = '<%=  escape_javascript @survey.to_json %>'
<% end %>
<div class="survey-title">
	<%= @survey.title %>
</div>
<div class="survey-content" data-controller="<%= survey_path(@survey) %>"></div>
