<%= render 'back'%>
<div class="template-wrapper">
	<%= render 'templates/template_header' %>
	<div class="template-container clearfix">
		<div class="template-body">
			<div class="description">
				<%= render 'orspp' %>
				<%= render 'vstuplenie' %>
				<%= render 'managment' %>
				<%= render 'records' %>
				<%= render 'oks' %>
				<%= render 'partners' %>
				<%= render 'contacts' %>
			</div>
			<div class="template-aside">
				<a href="/about" class="orspp-root">
					<h4 class="template-title">О РСПП</h4>
				</a>
				<div class="partitions-list list-group">
					<a href="#vstuplenie" class="list-group-item">Как вступить в РСПП</a>
					<a href="#managment" class="list-group-item">Руководящие органы</a>
					<a href="#records" class="list-group-item">Документы РСПП</a>
					<a href="#oks" class="list-group-item">РСПП в ОКС(общественно-консультативных советах)</a>
					<a href="#partners" class="list-group-item">Партнеры</a>
					<a href="#contacts" class="list-group-item">Контакты</a>
				</div>
			</div>
		</div>
		<%= render 'templates/template_footer' %>
	</div>
