<a href="<%=root_path%>">
    <div class="arrow-back">
        <span class="fa fa-angle-left" title="Назад"></span>
    </div>
    <div class="big-button">
        <p class="big-text">Назад</p>
    </div>
</a>
<div class="about-wrapper">
    <div class="about-header">
        <img class="logo-picture" src="logo.png">
        <h3 class="contact-info">Республиканский Союз Промышленников и Предпринимателей</h3>
    </div>
    <div class="about-container clearfix">
        <div class="about-body">
            <div class="description">
                <%= render 'orspp' %>
                <%= render 'vstuplenie' %>
                <%= render 'managment' %>
                <%= render 'records' %>
                <%= render 'oks' %>
                <%= render 'partners' %>
                <%= render 'contacts' %>
            </div>
            <div class="aside-nav">
                <a href="/about" class="orspp-root"><h4 class="about-title">О РСПП</h4></a>
                <div class="partitions-list list-group">
                    <a href="#vstuplenie" class="list-group-item">Как вступить в РСПП</a>
                    <a href="#managment" class="list-group-item">Руководящие органы</a>
                    <a href="#records" class="list-group-item">Документы РСПП</a>
                    <a href="#oks" class="list-group-item">РСПП в ОКС(общественно-консультативных советах)</a>
                    <a href="#partners" class="list-group-item">Партнеры</a>
                    <a href="#contacts" class="list-group-item">Контакты</a>
                </div>
            </div>
        </div>
        <div class="about-footer">
            <p class="copyright">© 2017 «РСПП», Все права защищены</p>
            <div class="about-footer-address">
                <p>
                    Минск, ул. Сторожевская, 5, офис 15
                </p>
            </div>
            <div class="about-footer-contact">
                <p class="phone">+375 11 111 11 11</p>
            </div>
        </div>
    </div>
