<%= render 'vertical_navbar' %>

<div class="container">

    <%= render 'add_topic_form' %>
    <%= render 'add_subtopic_form' %>
    <%= render 'add_partner_form' %>
    
    <%= render 'main_navbar_with_login_window' %>
    
    <%= render 'topics_navbar' %>

    <%= render 'main_slider' %>

    <div class="line">
        <%= render 'video_block' %>
        <%= render 'rspp_news_block' %>

    </div>

    <div class="line">
        <%= render 'mass_media_news_block' %>
        <%= render 'business_news_block' %>
    </div>
</div>

<%= render 'partners_parallax' %>

<div class="container flex">
    <!-- <div class="extras"> -->
        <%= render 'exchange_rates' %>
        <%= render 'social_networks' %>
    <!-- </div> -->
    <!-- Yandex Maps will use this div -->
    <div id="map"></div>
</div>

<%= render 'footer' %>
