<% @videos.all.each do |video| %>

<div class="video-item thumbnail">
    <div class="video-tools">

        <% if can? :manage, Gallery %>
        <a href="<%=@gallery.link%>/albums/<%=@album.id%>/videos/<%=video.id%>" data-confirm="Вы уверены?" data-method="delete" class="btn btn-danger" role="button">Удалить</a>
        <a href="<%=@gallery.link%>/albums/<%=@album.id%>/videos/<%=video.id%>/edit" class="btn btn-default" role="button">Редактировать</a>
        <% end %>
    </div>

    <iframe src="<%=video.iframe_link%>" frameborder="0" width="100%" frameborder='0' allowfullscreen></iframe>
    <div class="title-block">
        <a class="title-link" href="<%=video.youtube_link%>">
            <h3><%= video.title %></h3>
        </a>
        <% if video.type_video == 'interview'%>
        <span class="type-video">
            <p>
                Интервью
            </p>
        </span>
        <%else%>
        <span class="type-video">
            <p>
                Мероприятие
            </p>
        </span>
        <%end%>
    </div>
    <div class="video-description-block">
        <p>
            <%= video.description %>
        </p>
    </div>
    <div class="video-comments">
        <%= render 'comments/comments', commentable: video %>
        <%= render 'comments/new_comment', commentable: video %>
    </div>
</div>
<% end %>
<%= will_paginate @videos, renderer: BootstrapPagination::Rails %>
