<div class="container">
	<%= render 'galleries/galleries_nav', type: @gallery.gallery_type %>
	<div class="new-album">
		<div class="new-album-header">
			<h1>Редактировать альбом</h1>
		</div>
		<%= form_for @album, url: gallery_album_path(@gallery.smart_id, @album) do |f| %>
			<div class="col-md-8 col-md-offset-2">
				<div class="name-field ">
					<h2>
						Введите название альбома:
					</h2>
					<%= f.text_field :name, placeholder: "Название", class: "form-input" %>
				</div>
				<div class="description-field">
					<h2>
						Добавьте описание:
					</h2>
					<%= f.text_area :description, placeholder: "Описание", class: "form-input" %>
				</div>
			</div>
			<div class="actions col-lg-4 col-lg-offset-4 text-center">
				<%= f.submit "Сохранить", class: "create-btn" %>
				<%= link_to 'Назад', gallery_path(@gallery.smart_id), class: "back-btn" %>
			</div>
		<% end %>
	</div>
</div>

