<div class="row">
    <% @galleries.all.each do |gallery| %>
    <div class="col-sm-6 col-md-4 ">
        <div class="thumbnail gallery-item">
            <a href="<%=gallery_path(gallery)%>">
                <% if gallery.type_gallery.to_s == 'photo' %>
                <img src="photo-icon.png" alt="<%=gallery.name%>">
                <% else %>
                <img src="video-icon.png" alt="<%=gallery.name%>">
                <% end %>
            </a>
            <div class="caption">
                <a href="<%=gallery_path(gallery)%>">
                    <h3><%=gallery.name%></h3>
                </a>
                <p>
                    <a href="<%=gallery_path(gallery)%>" data-confirm="Вы уверены?" data-method="delete" class="btn btn-danger" role="button">Удалить</a>
                    <a href="<%=edit_gallery_path(gallery) %>" class="btn btn-default" role="button">Редактировать</a>
                </p>
            </div>
        </div>
    </div>
    <% end %>
</div>
