<img src="album-icon.png" />
<div class="row">
    <% @gallery.albums.all.each do |album| %>
    <div class="col-sm-6 col-md-4 ">
        <div class="thumbnail album-item">
            <a href="<%=gallery_album_path(@gallery,album)%>">
                <img src="album-icon.png" alt="<%=album.name%>">
            </a>
            <div class="caption">
                <h3><%=album.name%></h3>
                <p><%=album.description%></p>
                <p>
                    <a href="<%=gallery_album_path(@gallery,album)%>" data-confirm="Вы уверены?" data-method="delete" class="btn btn-danger" role="button">Удалить</a>
                    <a href="#" class="btn btn-default" role="button">Редактировать</a>
                </p>
            </div>
        </div>
    </div>
    <% end %>
</div>
