<div class="container-fluid gallery-page">
    <div class="gallery-page-content">
        <nav class="navbar-big navbar navbar-default">
            <div class="container-fluid nav-content">
                <ul class=" nav navbar-nav navbar-left">
                    <li>
                        <a href="<%= galleries_path %>">Галереи</a>
                    </li>
                    <% if can? :manage, @gallery %>
                    <li>
                        <a href="<%= new_gallery_path %>">Создать галерею</a>
                    </li>
                    <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="<%= root_path %>">На главную</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar-small navbar navbar-default">
            <div class="nav-content">
                <ul class=" nav navbar-nav">
                    <li>
                        <a href="<%= galleries_path %>">Галереи</a>
                    </li>
                    <% if can? :manage, @gallery %>
                    <li>
                        <a href="<%= new_gallery_path %>">Создать галерею</a>
                    </li>
                    <% end %>
                    <li>
                        <a href="<%= root_path %>">На главную</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="gallery-page-items">
            <div class="gallery-page-header">
                <% if @galleries.empty? %>
                <h1>Нет галерей</h1>
            <% else %>
                <a href="<%= galleries_path %>">
                    <h1>Галереи</h1>
                </a>
            </div>
            <%= render 'galleries' %>
            <% end %>
        </div>
    </div>
</div>
