<%= form_for(:gallery, url: galleries_path, method: :post) do |f| %>
<p><%= f.text_field :name, autocomplete: "off", placeholder: "Имя галлереи" %></p>
<p><%= f.text_area :description, autocomplete: "off", placeholder: "Описание" %></p>
<p><%= f.submit "Создать" %></p>
<% end %>
<%= link_to 'Назад', galleries_path %>
