<div class="container album-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a href="<%=galleries_path%>">Галерея</a>
                </li>
                <% if current_user can? :create, @gallery %>
                <li>
                    <a href="<%=new_gallery_album_path(@gallery)%>">Создать альбом</a>
                </li>
                <%end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="<%=root_path%>">На главную</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1><%=@gallery.name %></h1>
    <h1>Альбомы</h1>
    <% if @gallery.albums.empty?%>
    <h2>Нет альбомов</h2>
    <% else %>
    <%= render 'gallery-albums' %>
    <% end %>
</div>
