<!DOCTYPE html>
<html>
  <head>
    <title>РСПП - Республиканский союз промышленников и предпринимателей</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>

  <div class="header">
    <div class="container-fluid">
      <div class="head container">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag ('logo.png'), class: 'logo-image' %>
          <% end %>
        </div>
        <div class="logo-text">
          <h1 class="text">
            Республиканский союз промышленников и предпринимателей
          </h1>
        </div>
        <div class="authentication">
          <%= link_to new_user_session_path, class: 'sign-in-link' do %>
            <p>Войти<span class="glyphicon glyphicon-lock"></span></p>
          <% end %>
          <%= link_to new_user_registration_path, class: 'sign-up-link' do %>
            <p>Регистрация</p>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
