<div class="template-wrapper">

	<%= render 'templates/template_header' %>

	<div class="template-container clearfix">

		<div class="template-body">
			<div class="description">

				<div class="template-title">
					<h2>
						<%= @topic.text %>
						<% if can? :manage, Topic %>
						<a class="update-description-topic">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<% end %>
					</h2>
				</div>

				<div class="description-body active-template">
					<div id="description-content" class="no-border"></div>
				</div>

				<div class="description-body hidden-template">
					<%= render 'templates/template_form', template: @topic %>
				</div>

			</div>
			<div class="template-aside">
				<a href="<%=@parent_topic.link%>" class="template-root">
					<h4 class="template-title"><%= @parent_topic.text %></h4>
				</a>
				<%= render 'subtopics' %>
			</div>

		</div>

	</div>

	<%= render 'templates/template_footer' %>

</div>

<script>

	var quillShow = new Quill('#description-content', {
		modules: {
			toolbar: false
		},
		theme: 'snow',
		readOnly: true
	});

	var obj = "<%= @topic.description.inspect %>".replace(/&quot;/g, '"')

	if (obj == '""') {
		obj = {
			"ops": [
				{
					"insert": "\n"
				}
			]
		}
		content = obj;
	} else {
		content = JSON.parse(obj.slice(1, -1));
	}

	quillShow.setContents(content.ops);
</script>
