<div class="container">
  <div class="col-lg-6 col-lg-offset-3 sign-up-container">
    <h2>Войти</h2>
    <hr>

    <%= form_for resource, as: resource_name, url: session_path(resource_name), class: "col-lg-12"  do |f| %>
      <div class="field">
        <h2>Email</h2>
        <%= f.email_field :email, autofocus: true, class: "form-input col-lg-12" %>
      </div>

      <div class="field">
        <h2>Пароль</h2>
        <%= f.password_field :password, autocomplete: "off", class: "form-input col-lg-12" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <label>Запомнить меня</label>
        </div>
      <% end %>

      <div class="actions text-center">
        <%= f.submit "Войти" %>
      </div>
    <% end %>
  </div>
</div>
