<%= render 'survey_add' %>
<%= render 'survey_edit' %>

<div class="add-survey-btn-wrapper text-center" style="padding: 10px 0; background: #FFFFFF;">
    <button class="btn btn-default add-survey" style="font-size: 20px;">
        Добавить опрос
    </button>
</div>

<table class="table table-striped text-center" style="font-size: 20px;">
    <tr>
        <td style="width: 5%;">
            <b>
                ID
            </b>
        </td>
        <td style="width: 47%;">
            <b>
                Тема опроса
            </b>
        </td>
        <td style="width: 5%:">
            <b>
                Проголосовали
            </b>
        </td>
        <td style="width: 15%;">
            <b>
                Состояние
            </b>
        </td>
        <td style="width: 15%;">
            <b>
                Время публикации
            </b>
        </td>
        <td style="width: 13%;">
        </td>
    </tr>

    <% @surveys.each do |survey| %>
        <tr>
            <td>
                <%= survey.id %>
            </td>

            <td>
                <% if survey.title.chars[30] %>
                    <%= survey.title.chars.first(30).join + "..." %>
                <% else %>
                    <%= survey.title %>
                <% end %>
            </td>

            <td>
                <%= survey.count_votes %> чел.
            </td>

            <td>
                <% if survey.closed %>
                    Закрыт
                <% else %>
                    Активен
                <% end %>
            </td>

            <td>
                <%= l survey.created_at, format: :long %>
            </td>

            <td class="text-right">
                    <button class="btn btn-success edit-survey" data-survey-title="<%= survey.title %>" data-survey-options="<%= survey.content %>" data-controller="<%= admin_survey_path(survey) %>">
                        Редактировать
                    </button>
                <%= link_to admin_survey_path(survey), method: :delete do %>
                    <button class="btn btn-danger"> 
                        Удалить
                    </button>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
