<div class="block-2">
	<div class="news-rspp col-lg-8 col-md-8">
		<div class="news-rspp-header">
			<h2>Новости РСПП</h2>
		</div>

		<div class="news-rspp-body">

			<% @rspp_news.each do |post| %>

			<div class="news-rspp-body-item">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 img-container">
					<img src="img_chania.jpg" alt="">
				</div>
				<div class="item-description col-lg-9 col-md-8 col-sm-8 col-xs-8">
					<div class="item-title">
						<%= post.title %>
					</div>
					<div class="item-text">
						<%= post.description %>
					</div>
					<div class="more-btn">
						<%= link_to "Читать далее", news_post_path(post), class: "link-more" %>
					</div>
				</div>
			</div>
			<% end %>

		</div>
	</div>

	<div class="appeal-survey col-lg-4 col-md-4 col-sm-12">
		<div class="appeal">
			<div class="appeal-header">
				<h2>Обратиться</h2>
			</div>
			<div class="appeal-content">
				<input type="email" placeholder="Email" id="email-appeal">
				<button type="button" class="appeal-button">Написать обращение</button>
			</div>
		</div>

		<% if @survey %>
		<div class="survey">
			<div class="survey-body">

				<div class="survey-title">
					<%= @survey.title %>
				</div>

				<% if user_signed_in? %>
				<div class="survey-content" data-controller="<%= survey_path(@survey) %>" data-survey-content="<%= @survey.to_json %>" data-user-id="'<%= current_user.id %>"></div>
			<% else %>
				<div class="survey-content" data-controller="<%= survey_path(@survey) %>" data-survey-content="<%= @survey.to_json %>" data-user-id=""></div>
				<% end %>

			</div>
		</div>
		<% end %>
	</div>
</div>
