<div class="block-2">

  <div class="news-rspp col-lg-8 col-md-8">

    <div class="news-rspp-header">
      <%= link_to news_posts_path(type: :rspp) do %>
        <h2>
          Новости РСПП
        </h2>
      <% end %>
    </div>

    <div class="news-rspp-body">
      <% @rspp_news.each do |post| %>
        <div class="news-rspp-body-item">

          <div class="item-description col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <% if post.image.present? %>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 img-container">
                <%= image_tag post.image&.url %>
              </div>
            <% end %>

            <div class="item-title">
              <%= post.title %>
            </div>

            <div class="item-text <%= 'no-padding' unless post.image.present? %>">
              <%= post.description %>
            </div>

            <div class="more-btn <%= 'no-img' unless post.image.present? %>">
              <%= link_to "Читать далее", news_post_path(post),class: "link-more" %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>

  <div class="feedback-survey col-lg-4 col-md-4 col-sm-12">
    <div class="feedback">
      <div class="feedback-header">
        <h2>
          Обратиться
        </h2>
      </div>
      <div class="feedback-content">
        <%= form_for @feedback do |f| %>
          <p class="label-name">Как к вам можно обращаться:</p>
          <%= f.text_field :name, id: "name-feedback",
            placeholder: "Алексей Алексеевич",
            value: current_user&.name %>
          <p class="label-email">Ваш email для связи:</p>
          <%= f.text_field :email, id: "email-feedback",
            placeholder: "some@email.com",
            value: current_user&.email %>
          <p class="label-body">Суть обращения:</p>
          <%= f.text_area :body, id: "body-feedback", required: "true" %>
          <%= f.submit "Отправить обращение", class: "feedback-button" %>
        <% end %>
      </div>
    </div>

    <% if @survey %>
      <div class="survey">
        <%= render 'surveys/home_page_survey', survey: @survey %>
      </div>
    <% end %>
  </div>
</div>
