<div class="gallery-body-container">
	<% @gallery.albums.all.each do |album| %>
	<div class="col-md-6">
		<div class="gallery-body-item">
			<div class="gallery-image-container">
				<a href="<%= @gallery.link %>/albums/<%=album.id%>">
					<%= image_tag "album-icon.png", class: "gallery-default-image" %>
				</a>
			</div>
			<div class="gallery-body-item-description">
				<a class="gallery-link" href="<%= @gallery.link %>/albums/<%=album.id%>">
					<h3 ><%=album.name%></h3>
				</a>
				<% if can? :manage, album %>
				<p>
					<a href="<%= @gallery.link %>/albums/<%=album.id%>" data-confirm="Вы уверены?" data-method="delete" class="btn btn-danger" role="button">Удалить</a>
					<a href="<%= @gallery.link %>/albums/<%=album.id%>/edit" class="btn btn-default" role="button">Редактировать</a>
				</p>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>
