<% @gallery.albums.all.each do |album| %>
<div class="thumbnail gallery-item">
    <a href="<%=gallery_album_path(@gallery,album)%>">
        <%= image_tag 'album-icon.png'%>
    </a>
    <div class="caption">
        <a class="link-gallery" href="<%=gallery_album_path(@gallery,album)%>">
            <h3 class="text-uppercase"><%=album.name%></h3>
        </a>
        <% if can? :manage, @gallery %>
        <p>
            <a href="<%=gallery_album_path(@gallery,album)%>" data-confirm="Вы уверены?" data-method="delete" class="btn btn-danger" role="button">Удалить</a>
            <a href="<%=edit_gallery_album_path(@gallery,album) %>" class="btn btn-default" role="button">Редактировать</a>
        </p>
        <% end %>
    </div>
</div>
<% end %>
