
<%= form_for @post, html: {id: "news-post-form"} do |f| %>
  <div class="container news-post-container">
    <p class="info">Введите заголовок:</p>
    <h1>
      <p><%= f.text_field :title, autocomplete: "off", placeholder: "Заголовок", required: "true" %></p>
    </h1>

    <!-- <hr> -->

    <p class="info">Введите краткое описание(не обязательно):</p>
    <h3>
      <b>
        <p><%= f.text_area :description, autocomplete: "off", placeholder: "Краткое описание" %></p>
      </b>
    </h3>
    <p class="info-last">Введите содержание новости:</p>

    <% if @post.image_url.present? %>
      <div>
        <img id="loadedImage" src="<%= @post.image_url %>">
      </div>
    <% else %>
      <div class="btn-load text-center" id="upload-picture-news-post"">
        <div class="btn-area">
          Добавить картинку...
        </div>
      </div>
      <input type="hidden" name="news_post[image_url]" id="news_post_image_url">

    <% end %>

    <div class="middle-content">
      <div class="editor">
        <div id="toolbar"></div>
        <div id="content-input"></div>
      </div>
    </div>
    <input id="text" type="hidden" name="news_post[text]">


    <p><%= f.submit "Добавить" %></p>
    <p class="link"><%= link_to "На главную", root_path %><p>
  </div>


<% end %>

<script>
  var toolbarOptions = [
    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    ['blockquote', 'code-block'],

    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
    [{ 'font': [] }],
    [{ 'align': [] }],
    ['link', 'image']
  ];
  var quill = new Quill('#content-input', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow',
  });

  obj = "<%= @post.text.inspect %>".replace(/&quot;/g, '"')
  if ((obj != "nil") && (obj.slice(0,1) == '"')) {
    content = JSON.parse(obj.slice(1,-1));
    quill.setContents(content.ops);
  } else if (obj != "nil") {
    content = JSON.parse(obj);
    quill.setContents(content.ops);
  }

  var form = $("#news-post-form");
  form.on('submit', function() {
    var content = $(".ql-editor");
    if (!content.hasClass("ql-blank")) {
      var text = $('#text');
      text.val(JSON.stringify(quill.getContents()));
      text.appendTo(form);
    } else {
      alert("Необходимо добавить содержание новости.");
      return false;
    }
  })
</script>
