<div class="container" style="background-color: #FFFFFF; margin-top: 20px;">
  <h1><%= @post.title %></h1>
  <hr style="border-top: 1px solid #000000;">
  <h3>
    <b>
      <%= @post.description %>
    </b>
  </h3>
  <hr style="border-top: 1px solid #000000;">
  <div>
    <img src="../news_post.jpg" style="float: left; margin-right: 40px; margin-bottom: 40px;">
    <h4>
      <% @post.text.split("\n").each do |paragraph| %>
        <%= paragraph %>
        <br>
      <% end %>
    </h4>

    <p style="font-size: 16px;">
      Опубликовал: <%= @post.user.first_name %> <%= @post.user.last_name %>
    </p>
  </div>
</div>

